.wrapper{
  margin: 4rem 0rem;
}
.card{
  min-height: 25rem;
  border-radius: 2rem;
  overflow: hidden;
}
img{
  border-radius: 2rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}
h4{
  font-size: 1rem;
  color: rgb(56,56,56,)

}
h3{
  font-size: 1.5rem;
  color: rgb(56,56,56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}
a{
  color: rgb(56,56,56);
  
}
.App{
  background-color: whitesmoke;
  color: black;
}
.dark{
  background-color: black;
  color: white;
}
